* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background-color: white;
  background-image: url("./images/bg-desktop-light.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  width: 100vw;
  text-align: center;
}

.helper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  width: 34.375rem;
  margin: 5rem auto 0;
  margin: 5rem auto 0;
}

p {
  font-size: 16px;
  font-weight: 300;
}

h1 {
  color: white;
  letter-spacing: 0.625rem;
}

ul {
  list-style-type: none;
}

li {
  padding: 15px 40px;
  border-bottom: 1px solid #afafaf;
  font-size: 20px;
  cursor: pointer;
}

.footerdiv {
  display: inline-block;
  background-color: white;
  border: none;
  cursor: pointer;
  margin: 5px;
  padding: 5px;
  color: rgb(58, 58, 58);
}

.selected {
  font-size: 20px;
  font-weight: 400;
  color: blue;
}
.footerdiv:hover {
  color: blue;
  font-weight: 600;
}

input {
  margin-top: 30px;
  padding: 20px 20px;
  width: 30.25rem;
  border: none;
  background-color: white;
  border-radius: 5px;
  font-size: 20px;
  outline: none;
  box-shadow: -3px 5px 12px -6px rgba(0,0,0,0.75);
}

.container {
  width: 34.375rem;
  margin: 0 auto;
  background-color: white;
  border-radius: 0.3125rem;
  margin-top: 1.875rem;
  text-align: left;
  box-shadow: -3px 5px 12px -6px rgba(0,0,0,0.75);
}

.input-helper {
  width: 34.375rem;
  margin: auto;
}

.cancel-text {
  text-decoration: line-through;
  opacity: 0.5;
}

.btn {
  margin-top: 28px;
  margin-left: 10px;
  width: 60px;
  height: 60px;
  background-color: white;
  border: none;
  border-radius: 5px;
  font-size: 40px;
  cursor: pointer;
  box-shadow: -3px 5px 12px -6px rgba(0,0,0,0.75);
}

.footer {
  justify-content: space-between;
  padding: 10px 15px;
}

@media only screen and (max-width: 570px) {
  body {
    background-image: url("./images/bg-mobile-light.jpg");
    background-size: cover auto;
  }
  .header {
    width: 25rem;
  }

  input {
    width: 20rem;
  }

  .input-helper {
    width: 25rem;
  }

  p {
    font-size: 14px;
  }

  .footer {
    padding: 5px 8px;
  }
  .container {
    width: 25rem;
  }
  .selected {
    font-size: 15px;
  }
}